.profile {
    padding: 30px;
    :global {
        .container {
        }
        
        .title {
            font-size: 16px;
            margin-bottom: 15px;
            border-bottom: 1px solid #e3e3e3;
            padding-bottom: 5px;
        }

        .profile {
            &__container {

            }

            &__block {
                padding: 15px;
                display: flex;
                flex-direction: column;
            }

            &__row {
                padding: 15px;
                display: flex;
                &:first-of-type {
                    margin-top: 0;
                }

                & > .profile__block {
                    padding: 0 15px;
                }
            }

            &__form {
                flex: 1 0 auto;
                &-field {
                    min-width: 250px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    
                    span {
                        font-size: 12px;
                        color: #585858;
                        display: block;
                        padding-bottom: 5px;
                    }
                }

                &-input {
                    width: 100%;
                    background-color: #eee;
                    padding: 10px 15px;
                    border-radius: 5px;
                }
            }

            &__submit {
                font-size: 14px;
                height: 36px;
                padding: 0 15px;
                border-radius: 5px;
                transition: .2s;
                background-color: #eee;
                margin-right: 10px;
                margin-top: 30px;
                width: 100%;
                max-width: 250px;

                &:hover:not([disabled]) {
                    background-color: #9839e0;
                    color: #fff;
                }
            }
           
        }
    }
}   