.navigation {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    background-color: #9839e0;

    nav {
        padding: 0 0;

        ul {
            display: flex;
            margin: 0px;

            li {
                transition: .2s;

                &:hover {
                    background-color: #ff7900;

                    a {
                        transform: translateY(-2px);
                    }
                }

                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 15px 30px;
                    color: #fff;
                    transition: .2s;
                }
            }
        }
    }

    :global {
        .tools {
            position: relative;
            background-color: #9839e0;

            &__icon {
                width: 80px;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;
                transition: .2s;
                animation-play-state: initial;


                & :local {
                    @keyframes animate {
                        from {
                            background-color: #fff;
                        }

                        to {
                            background-color: #000;
                        }
                    }

                    animation: animate 2s normal;
                }

                &:hover {
                    background-color: #ff7900;
                    animation: animate 2s ease-in-out 2s normal;
                }

                span {
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    display: block;
                    border-radius: 999px;
                }

                &:before,
                &:after {
                    display: block;
                    content: '';
                    border-radius: 999px;
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .2s;
                }

                &:before {
                    left: 20px;
                }

                &:after {
                    right: 20px;
                }
            }

            &-list {
                position: absolute;
                right: 0;
                top: 0;

                &__item {
                    &.exit {
                        padding-left: 40px;
                        padding-right: 30px;
                        height: 100%;
                        background-image: url('../../images/icons/exit.png');
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        background-color: transparent;
                        transition: .2s;

                        &:hover {
                            background-color: #ff7900;
                        }
                    }
                }
            }
        }

    }
}