body {
    background-color: #eee;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input,
select,
button {
    outline: none;
    border: none;
}

button {
    &:not(:disabled) {
        cursor: pointer;
    }
}

input {
    padding: 0 10px;
}

a {
    color: initial;
    text-decoration: none;
}